.logoutButton {
  background-color: #5ca706; /* Red background */
  color: white;              /* White text */
  border: none;              /* Remove borders */
  padding: 10px 20px;        /* Add some padding */
  text-align: center;        /* Center the text */
  text-decoration: none;     /* Remove underline */
  display: inline-block;     /* Make the button inline-block */
  font-size: 16px;           /* Increase font size */
  margin: 4px 2px;           /* Add some margin */
  cursor: pointer;           /* Change cursor on hover */
  border-radius: 4px;        /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.logoutButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
